*{
    font-family: serif;
    image-rendering: pixelated;
}
body{
    background-image: url("images/RWD_BK2.GIF");
    text-align: center;
    margin: 0px;
    overflow-x: hidden;
}
h1 {
    font-size: 100px;
    text-align: center;
    width: 100%;
    margin:0px;
    padding:0px;
}
h1>p{
    margin:0px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin:5em;
}
a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.boot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bootl, #bootr{
    height: min(40vw, 300px);
}
#bootl{
    transform: rotate(-50deg);
}
#bootr{
    transform: rotate(20deg);
}
.wrap{
    margin: auto;
    align-items: center;
    padding: auto;
    display: block;
    position:absolute;
    top:2200px
}
.wrap>img{
    margin: auto;
    display: block;
}

.poster_board{
    margin-top: 20em;
}

.posters{
    height: 50vh;
    mix-blend-mode: normal;
}

.scrap{
    position:relative;
    display: none;
}
.scrap>img{
    mix-blend-mode: normal;
    position: absolute;
}
.movable{
    cursor: grab;
}
#menu
{
    align-items: center;
    text-align: center;
    margin:auto;
}

.events{
    font-size: 5em;
}

#water{
    background-image: url("images/watersmall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100%;
}


img{
    mix-blend-mode: multiply;
}

@media only screen and (orientation: portrait) {   
    #title>img{
        width:0.8em;
        margin:-0.2em;
    }
}